.fondo-pedidos-grupal {
  flex-grow: 1;
  background-color: #0b141a;
  background-image: url("/src/assets/fondoWsp.png");
  background-size: fill;

  box-shadow: inset 0 0 100vh 100vh #0b141aea;

  scrollbar-width: thin;
  scrollbar-color: #5e5e5eaa transparent;

  padding: 8px 16px;
  overflow-y: auto;
}

.fondo-sesion {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/src/assets/fondoSesion.png");
  background-size: cover;
  background-position: center;
}

.bubble-sent {
  position: relative;
  border-top-right-radius: 0 !important;
}
.bubble-sent::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 12px;
  height: 12px;
  background-color: #005C4B;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 1;
}
.bubble-received {
  position: relative;
  border-top-left-radius: 0 !important;
}
.bubble-received::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 12px;
  height: 12px;
  background-color: #2A3942;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  z-index: 1;
}