@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.1rem;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #100B00;
}

/*Slider de testimonios*/
.slick-slider .slick-track {
  display: flex;
  gap: 10px;
}

/*Tablas*/
th {
  color: #090909 !important;
  background-color: #09090930;
}

tr {
  background-color: #4B504330;
}